[submodule "3rdparty/bgfx/bgfx"]
	path = 3rdparty/bgfx/bgfx
	url = git@github.com:bkaradzic/bgfx.git
[submodule "3rdparty/bgfx/bx"]
	path = 3rdparty/bgfx/bx
	url = git@github.com:bkaradzic/bx.git
[submodule "3rdparty/bgfx/bimg"]
	path = 3rdparty/bgfx/bimg
	url = git@github.com:bkaradzic/bimg.git
[submodule "3rdparty/glm/glm"]
	path = 3rdparty/glm/glm
	url = git@github.com:g-truc/glm.git
[submodule "3rdparty/sdl/sdl-mirror"]
	path = 3rdparty/sdl/sdl-mirror
	url = git@github.com:bagidea/SDL-mirror.git
